celery==5.4.0
channels==4.1.0
channels-redis==4.2.0
chatterbot-corpus==1.2.0
Django==5.1
django-redis==5.4.0
django-widget-tweaks==1.5.0
geoip2==4.8.0
langid==1.1.6
openai==1.41.0
Pillow==10.4.0
pint==0.24.3
psycopg2-binary==2.9.9
requests==2.32.3
social-auth-app-django==5.4.2
social-auth-core==4.5.4
