coverage==7.5.4
cython==3.0.10
line_profiler==4.1.3
django-debug-toolbar==4.4.2
django-debug-toolbar-line-profiling==0.8.1
django-debug-toolbar-request-history==0.1.4
-e git+https://github.com/mikekeda/django-jenkins.git#egg=django-jenkins
pep8==1.7.1
pyflakes==3.2.0
pylint==3.2.4
pylint-django==2.5.5
pylint-plugin-utils==0.8.2
