asgiref==3.1.2
celery==4.3.0
channels==2.2.0
channels-redis==2.4.0
ChatterBot==1.0.5
chatterbot-corpus==1.2.0
coverage==4.5.3
django-debug-toolbar==1.11
django-jenkins==0.110.0
Django==2.2.4
django-redis==4.10.0
django-widget-tweaks==1.4.3
geoip2==2.9.0
langid==1.1.6
pep8==1.7.1
psycopg2-binary==2.8.2
pyflakes==2.1.1
# There is a problem with django-jenkins and new version of pylint
# https://github.com/kmmbvnr/django-jenkins/issues/367
pylint==1.9.2
pylint-django==0.11.1
requests==2.22.0
social-auth-app-django==3.1.0
social-auth-core==3.1.0
