{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Page not found" %}{% endblock title %}

{% block content %}
  <div class="jumbotron">
  <div class="nb-error">
      <div class="error-code">404</div>
      <h3 class="font-bold"{% trans "We couldn't find the page." %}></h3>

      <div class="error-desc">
          {% trans "Sorry, but the page you are looking for was either not found or does not exist. <br/>
          Try refreshing the page or click the button below to go back to the Homepage." %}
      </div>
  </div>
  </div>
{% endblock content %}
