{% extends 'base.html' %}
{% load i18n static %}

{% block title %}{% trans "Users" %}{% endblock title %}
{% block description %}{% trans 'Map of users' %}{% endblock description %}

{% block content %}
<div style="margin-top: 56px; width: 100%; height: calc(100vh - 56px);">
    <div id="map" style="height: 100%;"></div>
    <script src="{% static 'bower_components/gmaps-marker-clusterer/src/markerclusterer.js' %}"></script>
    <script>
      function initMap() {
        var data = {{ users|safe }};
        var infowindow = new google.maps.InfoWindow();
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 2,
          maxZoom: 7,
          center: {lat: 28.024, lng: 40.887}
        });
        var markers = data.map(function(user) {
          var marker = new google.maps.Marker({
            position: user.location,
            label: user.username
          });
          marker.username = user.username;

          google.maps.event.addListener(marker, 'click', function() {
            window.location = user.profile;
          });

          return marker;
        });

        var markerCluster = new MarkerClusterer(map, markers, {
          imagePath: '{% static "bower_components/gmaps-marker-clusterer/images/m" %}'
        });

        google.maps.event.addListener(markerCluster, 'clusterclick', function(cluster) {
          var clusterMarkers = cluster.getMarkers();
          var titles = clusterMarkers.map(function(m) {
            var username = m.username || '';
            return "<a href='/user/" + username + "'>" + username + "</a>";
          }).join(", ");

          var info = new google.maps.MVCObject();
          info.set('position', cluster.getCenter());

          infowindow.close();
          infowindow.setContent(titles);
          infowindow.open(map, info);
        });
      }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key={{ google_map_api_key }}&loading=async&callback=initMap"></script>
</div>
{% endblock content %}
